.wrapper {
  height: 100%;
  width: 300px;
  background: #000;
  color: #b3b3b3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  > div {
    padding: 25px;
    height: 100%;
  }
}

.nav {
  list-style: none;
  margin-top: 25px;

  &:first-child {
    margin-top: 0px;
  }

  li {
    margin-bottom: 10px;
    a {
      color: inherit;
      text-decoration: none;
      font-size: 1rem;
      line-height: 32px;
      &:hover {
        color: #fff;
      }
    }

    span {
      font-size: 0.9rem;
      font-family: inherit;
      margin-left: 4px;
      line-height: 22px;
      font-weight: bold;
    }
    img {
      height: 40px;
      margin-bottom: 26px;
    }
  }
}
